
/* Search Form Page */
#form-title {
    padding: 30px;
    color: whitesmoke;
    background-color: #4A4A4A;
    text-align: center;
  }
  
  form {
    width: 80%;
    margin: auto;
  }
  
  #text-input {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: x-large;
  }
  
  .fieldset {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0 30px 0;
    /* text-align: center; */
    font-size: x-large;
    background-color: rgba(245, 245, 245, 0.774);
  }
  .fieldset label {
    margin-left: 30px;
  }
  
  #submit-form {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0 30px 0;
    text-align: center;
    font-size: x-large;
    background-color: #222222;
    color: whitesmoke;
  }
  
  
  
  #info-section {
    background-color: whitesmoke;
    margin-bottom: 10%;
  }
  .book-thumbnail {
    width: 50%;
    margin: 60px 0 30px 0;
  }
  #book-title {
    margin: 0 0 15px 0;
    font-weight: bold;
    padding: 0 30px 0 30px;
  }
  #book-author {
    margin: 0 0 15px 0;
    font-style: oblique;
    padding: 0 30px 0 30px;
  }
  #book-description {
    padding: 0 60px 60px 60px;
    height: 200px;
    overflow:auto;
  }
  
  
  /* Error Page */
  #error-section {
    text-align: center;
    padding-top: 60px;
  }
  
  #error-message {
    padding: 30px;
    font-style: oblique;
    font-size: larger;
  }