<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head') %>

    <%- include('../layouts/header') %>


<body >
       <%- include('../layouts/menu') %>
<section >
    <form action="/searches" method="POST">
    <fieldset>
    <legend>Search by Title or Author</legend>
    <label for="search">Search </label>
    <input type="text" name="searched">

    <label for="title">Title</label>
    <input type="radio" name="searchBy" value = "title" required><br>

    <label for="author">Author</label>
    <input type="radio" name="searchBy" value = "author" required><br>

    <button type="submit">Search the Google Book API</button>
    </fieldset>
    
    </form>
    </section>
                 <%- include('../layouts/footer') %>
</body>
</html>