<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head.ejs') %> 

  <title>Error</title>
</head>
<body>
  <%- include('../layout/header.ejs') %>

  <header>

    <h1>BOOK APP</h1>
  </header>

  <main>
    
    <h1 id="form-title">ERROR</h1>

  <section id="error-section">
    <h1 id="error-header">Error</h1>
    <h2 id="error-message">Sorry, no results available!!!</h2>
    <p id="error-description"><%= error %></p>
  </section>

  <footer>
    <%- include('../layout/footer.ejs') %>

  </footer>

</body>
</html>